

{% if page.metafields.custom.hero_image %}
  <div class="page-width page-hero-img">{{ page.metafields.custom.hero_image | metafield_tag }}</div>
{% endif %}

<div class="page-width center">

<h1>{{ page.title }}</h1>

{{ page.content }}



</div>
