

<div class="page-width">
  <h1 class="center">{{ page.title }}</h1>


  <div class="row grid grid--1-col grid--2-col-tablet grid--2-col-desktop">
    <div class="grid__item sidebar">
      {{ page.metafields.custom.column_2_image | metafield_tag }}
      {{ page.metafields.custom.column_2_content  | metafield_tag}}
    </div>
    <div class="grid__item">{{ page.content }}</div>
  </div>
</div>
<!-- .page-width -->

